version: "3.9"

services:
  db:
    image: timescale/timescaledb:latest-pg16
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: jubelio
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    image: node:24-alpine
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./backend:/app
    environment:
      NODE_ENV: development
      PORT: 3001
      PG_HOST: db
      PG_PORT: 5432
      PG_DB: jubelio
      PG_USER: admin
      PG_PASSWORD: admin
      JWT_SECRET: supersecretjwt
      BASIC_USER: admin@demo.local
      BASIC_PASS: admin123
      CORS_ORIGIN: http://localhost:3000
    ports:
      - "3001:3001"
    depends_on:
      - db

  frontend:
    image: node:24-alpine
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./frontend:/app
    environment:
      NEXT_PUBLIC_API_BASE: http://localhost:3001
      NODE_ENV: development
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  dbdata: {}
