services:
  db:
    image: timescale/timescaledb:latest-pg16
    container_name: jubelio_db
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: jubelio
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    container_name: jubelio_backend_dev
    command: npm run dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      PORT: 3001
      PG_HOST: db
      PG_PORT: 5432
      PG_DB: jubelio
      PG_USER: admin
      PG_PASSWORD: admin
      JWT_SECRET: supersecretjwt
      CORS_ORIGIN: http://localhost:3000
    ports:
      - "3001:3001"
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.dev
    container_name: jubelio_frontend_dev
    command: npm run dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_BASE: http://backend:3001
    stdin_open: true
    tty: true

volumes:
  dbdata: {}
